In [51]:
import pandas as pd
dataset = pd.read_csv("10A_survey_cleaned_data.csv",na_values=' ')
print(dataset.shape)
#dataset.drop(columns=['Unnamed: 0'],inplace=True)
list(dataset.columns.values)

(44, 17)

['Designation',
 'Age',
 'Gender',
 'Requirement Stability',
 'Requirement Change Frequency',
 'Deadline Crossing Tendency',
 'Deadline Crossing Frequency',
 'Design Change',
 'Adapting New Technology',
 'Testability',
 'Change Flexibility',
 'Task Satisfaction',
 'Fault Occurrence Frequency',
 'Budget Extension',
 'Efficiency',
 'Reusability',
 'Portability']

In [52]:
dataset['Designation'].value_counts()

Software Engineer                  7
Student                            5
Associate Software Engineer        4
Senior Software Engineer           3
Intern                             2
Canada                             1
Senior Software Engineer           1
Blockchain Developer               1
Graduate Teaching Assistant        1
MSc Student                        1
SE                                 1
Software Engineer graduate         1
Associate Software Engineer        1
Software Engineer I                1
Employe                            1
Lecturer, CSE, BRACU               1
Freelancer Developer               1
Associate software engineer        1
()                                 1
PHD student                        1
Assistant programmer               1
Junior Software Engineer           1
Sr. Software Engineer              1
Ex software engineer (Lecturer)    1
Software engineer                  1
Student                            1
Graduate Student                   1
Lecturer                           1
Name: Designation, dtype: int64

In [53]:
dataset['Designation']=dataset['Designation'].replace("Software Engineer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Student","Intern")
dataset['Designation']=dataset['Designation'].replace("Student ","Intern")
dataset['Designation']=dataset['Designation'].replace("Associate Software Engineer","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Senior Software Engineer","Senior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Junior Software Engineer","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Ex software engineer (Lecturer)","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software Engineer I","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Employe","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Graduate Student","Intern")
dataset['Designation']=dataset['Designation'].replace("Blockchain Developer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Lecturer","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("SE","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software Engineer graduate","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Lecturer, CSE, BRACU","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Associate Software Engineer ","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Associate software engineer","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Software engineer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Assistant programmer","Assistant Programmer")
dataset['Designation']=dataset['Designation'].replace("Sr. Software Engineer","Senior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("MSc Student","Intern")
dataset['Designation']=dataset['Designation'].replace("Senior Software Engineer ","Senior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Graduate Teaching Assistant","Associate Software Engineer")
dataset['Designation']=dataset['Designation'].replace("PHD student","Junior Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Canada","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("Freelancer Developer","Software Engineer")
dataset['Designation']=dataset['Designation'].replace("()","Junior Software Engineer")
dataset['Designation'].value_counts()

Software Engineer              14
Associate Software Engineer    11
Intern                         10
Senior Software Engineer        5
Junior Software Engineer        3
Assistant Programmer            1
Name: Designation, dtype: int64

In [54]:
dataset['Age'].value_counts()

23    10
25     7
24     6
28     5
29     4
30     3
27     3
26     3
22     3
Name: Age, dtype: int64

In [55]:
dataset['Gender'].value_counts()

Male      32
Female    12
Name: Gender, dtype: int64

In [56]:
dataset['Gender'] = dataset['Gender'].map({'Male': 0, 'Female':1})
dataset['Gender']

0     0
1     0
2     1
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    0
11    1
12    0
13    1
14    1
15    0
16    0
17    1
18    1
19    0
20    0
21    1
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    1
30    0
31    0
32    0
33    0
34    0
35    1
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    1
Name: Gender, dtype: int64

In [57]:
dataset['Deadline Crossing Tendency'].value_counts(dropna=False)

A Team           28
NaN              10
An Individual     6
Name: Deadline Crossing Tendency, dtype: int64

In [58]:
df = pd.DataFrame(dataset)
df['Deadline Crossing Tendency'] = df['Deadline Crossing Tendency'].notnull().astype("int")

In [59]:
dataset['Deadline Crossing Frequency'] = dataset['Deadline Crossing Frequency'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Deadline Crossing Frequency'].value_counts()

2    21
3    11
1     6
5     3
4     3
Name: Deadline Crossing Frequency, dtype: int64

In [60]:
dataset['Requirement Stability'].value_counts()
dataset['Requirement Stability'] = dataset['Requirement Stability'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})

In [61]:
dataset['Requirement Change Frequency'] = dataset['Requirement Change Frequency'].map({'0': 1, '1-2': 2, 
                                                                   '3-4':3, '5-6':4, 
                                                                   'More than 6':5})
dataset['Requirement Change Frequency'].value_counts()

2    16
3    11
5    10
4     7
Name: Requirement Change Frequency, dtype: int64

In [62]:
dataset['Design Change'] = dataset['Design Change'].map({'Strongly Disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly Agree':5})
dataset['Design Change'].value_counts()

4    23
3    10
5     7
2     4
Name: Design Change, dtype: int64

In [63]:
dataset['Adapting New Technology'] = dataset['Adapting New Technology'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Adapting New Technology'].value_counts()

5    17
4    11
3    10
2     5
1     1
Name: Adapting New Technology, dtype: int64

In [64]:
dataset['Testability'] = dataset['Testability'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Testability'].value_counts()

3    21
4    10
2     8
5     3
1     2
Name: Testability, dtype: int64

In [65]:
dataset['Change Flexibility'] = dataset['Change Flexibility'].map({'Yes': 1, 'No': 0, })
dataset['Change Flexibility'].value_counts()

1    40
0     4
Name: Change Flexibility, dtype: int64

In [66]:
dataset['Task Satisfaction'] = dataset['Task Satisfaction'].map({'Very Dissatisfied': 1, 'Dissatisfied': 2, 
                                                                   'Neutral':3, 'Very Satisfied':4, 
                                                                   'Satisfied':5})
dataset['Task Satisfaction'].value_counts()

5    35
3     8
4     1
Name: Task Satisfaction, dtype: int64

In [67]:
dataset['Fault Occurrence Frequency'] = dataset['Fault Occurrence Frequency'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Fault Occurrence Frequency'].value_counts()

3    27
4    12
5     3
2     2
Name: Fault Occurrence Frequency, dtype: int64

In [68]:
dataset['Budget Extension'] = dataset['Budget Extension'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Budget Extension'].value_counts()

3    20
4    17
5     6
2     1
Name: Budget Extension, dtype: int64

In [69]:
dataset['Efficiency'] = dataset['Efficiency'].map({'Strongly disagree': 1, 'Disagree': 2, 
                                                                   'Neutral':3, 'Agree':4, 
                                                                   'Strongly agree':5})
dataset['Efficiency'].value_counts()

3    14
4    13
2    11
1     4
5     2
Name: Efficiency, dtype: int64

In [70]:
dataset['Reusability'] = dataset['Reusability'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Reusability'].value_counts()

3    20
2    12
4    10
5     1
1     1
Name: Reusability, dtype: int64

In [71]:
dataset['Portability'] = dataset['Portability'].map({'Never': 1, 'Seldom': 2, 
                                                                   'Sometimes':3, 'Often':4, 
                                                                   'Always':5})
dataset['Portability'].value_counts()

4    12
3    10
2    10
1    10
5     2
Name: Portability, dtype: int64

In [72]:
dataset.to_csv("EncodedData.csv")
dataset.to_excel("EncodedData.xlsx")